<div class="my-2 lg:my-5 max-w-2xl">
    <span class="text-3xl lg:text-4xl leading-10 lg:leading-12 font-serif block pb-4">« {{ entry.text }} »</span>
    <span class="text-lg opacity-50">{{ entry.quoteauthor }}</span>
</div>