{% import '_utils/padding.twig' as paddingUtils %}

{% set topValue = paddingTop ?? block.paddingTop ?? 'normal' %}
{% set bottomValue = paddingBottom ?? block.paddingBottom ?? 'normal' %}

<section class="{{ paddingUtils.getPaddingClasses(topValue, bottomValue) }}">
    <div class="container">
        <div class="grid grid-cols-1 justify-items-center">
            <div class="flex gap-x-20 mt-10">
                <a href="#" class="text-sm/4 text-center font-bold flex flex-col items-center gap-y-2 group">
                    <img src="https://placehold.co/80" alt="icon-personal" class="size-20 group-hover:scale-105 transition-all drop-shadow group-hover:drop-shadow-2xl" />
                    <div class="z-20 isolate relative after:content-[''] after:w-0 after:h-2 after:block after:z-10 after:transition-all after:bg-primary after:absolute after:top-3 group-hover:after:w-full"><span class="relative z-20">Link</span><br><span class="font-light relative z-20">Nummer 1</span></div>
                </a>
                <a href="#" class="text-sm/4 text-center font-bold flex flex-col items-center gap-y-2 group">
                    <img src="https://placehold.co/80" alt="icon-team" class="size-20 group-hover:scale-105 transition-all drop-shadow group-hover:drop-shadow-2xl" />
                    <div class="z-20 isolate relative after:content-[''] after:w-0 after:h-2 after:block after:z-10 after:transition-all after:bg-primary after:absolute after:top-3 group-hover:after:w-full"><span class="relative z-20">Link</span><br><span class="font-light relative z-20">Nummer 2</span></div>
                </a>
                <a href="#" class="text-sm/4 text-center font-bold flex flex-col items-center gap-y-2 group">
                    <img src="https://placehold.co/80" alt="icon-business" class="size-20 group-hover:scale-105 transition-all drop-shadow group-hover:drop-shadow-2xl" />
                    <div class="z-20 isolate relative after:content-[''] after:w-0 after:h-2 after:block after:z-10 after:transition-all after:bg-primary after:absolute after:top-3 group-hover:after:w-full"><span class="relative z-20">Link</span><br><span class="font-light relative z-20">Nummer 3</span></div>
                </a>
            </div>
        </div>
    </div>
</section>