{%- minify -%}

   <!doctype html>
   <html class="no-js" lang="{{ craft.app.language|slice(0,2) }}">
      <head>

         <meta charset="utf-8">
         <meta http-equiv="x-ua-compatible" content="ie=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         {# Fonts #}
         {{ include ('_components/fonts', ignore_missing = true) }}

         {# CSS / JS #}
         {{ craft.vite.script('/src/index.js', false) }}

         {# Favicons #}
         {{ craft.vite.inline('@webroot/dist/favicons/webapp.html') }}

         {# AlpineJS "blip" Fix #}
         <style>[x-cloak] { display: none; }</style>

      </head>

      <body class="font-sans">

         {% if craft.app.config.general.devMode %}
        <div class="fixed top-0 left-0 z-[10000] bg-white p-2 shadow-xl text-black">
            <div class="sm:hidden">XS</div>
            <div class="hidden sm:block md:hidden">SM</div>
            <div class="hidden md:block lg:hidden">MD</div>
            <div class="hidden lg:block xl:hidden">LG</div>
            <div class="hidden xl:block 2xl:hidden">XL</div>
            <div class="hidden 2xl:block">2XL</div>
        </div>

        {% endif %}

         {% block body %}{% endblock %}

      </body>

   </html>

{%- endminify -%}