@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source '../../templates/**/*.twig';
@source '../../templates/**/*.html';
@source '../../templates/**/*.css';

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/dist/fonts/InterVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/dist/fonts/InterVariable-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@utility border-shadow-* {
  box-shadow: 0 0 0 0 --value(--color-*);
  &:hover {
    box-shadow: 0 0 0 3px --value(--color-*)
  }
}

@layer components {
  .btn {
    @apply rounded-md bg-primary border-shadow-primary text-on-primary-dark px-6 py-2.5 text-sm font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary transition;
  }
  .headline {
    @apply font-medium leading-14 text-pretty tracking-tight mb-12;
  }
  .headline-1 {
    @apply text-6xl sm:text-7xl leading-18;
  }
  .headline-2 {
    @apply text-4xl sm:text-5xl mb-8;
  }
  .headline-3 {
    @apply text-3xl leading-10 sm:text-4xl mb-6;
  }
  .nav-link {
    @apply px-3.5 py-2.5 rounded-md no-underline transition font-medium underline-offset-2 hover:bg-primary hover:text-on-primary focus:outline-hidden;
  }
  .nav-link.active {
    @apply bg-primary text-on-primary;
  }
}

@theme {

  --color-primary: #D7F53D;
  --color-primary-dark: #b7d132;
  --color-on-primary: #171C8F;
  --color-on-primary-dark: #171C8F;
  --color-secondary: #171C8F;
  --color-secondary-dark: #0e1261;
  --color-on-secondary: var(--color-white);
  --color-on-secondary-dark: var(--color-white);
  --color-surface: var(--color-white);
  --color-surface-alt: var(--color-neutral-50);
  --color-on-surface: var(--color-neutral-600);
  --color-on-surface-strong: var(--color-neutral-900);
  --color-outline: var(--color-neutral-300);
  --color-outline-strong: var(--color-neutral-800);
  
  --breakpoint-*: initial;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1320px;

/* light theme */



    /* border radius */
    --radius-radius: var(--radius-sm);

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.063rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

}